{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "messageId": { "S": "${util.autoId()}" }
  },
  "attributeValues": {
    "content": { "S": "$ctx.args.content" },
    "author": { "S": "$ctx.args.author" },
    "timestamp": { "N": "$util.time.nowEpochMilliSeconds()" }
  },
  "condition": {
    "expression": "attribute_not_exists(messageId)"
  }
}
