{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "messageId": $util.dynamodb.toDynamoDBJson($util.autoId()),
    "timestamp": $util.dynamodb.toDynamoDBJson($util.time.nowEpochMilliSeconds())
  },
  "attributeValues": {
    "content": $util.dynamodb.toDynamoDBJson($ctx.args.content),
    "username": $util.dynamodb.toDynamoDBJson($ctx.args.username)
  }
}