{
    "version": "2017-02-28",
    "operation": "UpdateItem",
    "key": {
        "PK": $util.dynamodb.toDynamoDBJson("USER#${ctx.args.username}"),
        "SK": $util.dynamodb.toDynamoDBJson("METADATA")
    },
    "update": {
        "expression": "SET #status = :status, #lastSeen = :now",
        "expressionNames": {
            "#status": "status",
            "#lastSeen": "lastSeen"
        },
        "expressionValues": {
            ":status": $util.dynamodb.toDynamoDBJson($ctx.args.status),
            ":now": $util.dynamodb.toDynamoDBJson($util.time.nowEpochMilliSeconds())
        }
    }
}
