{
    "version": "2017-02-28",
    "operation": "Scan",
    "filter": {
        "expression": "begins_with(PK, :userPrefix) AND SK = :metadata",
        "expressionValues": {
            ":userPrefix": $util.dynamodb.toDynamoDBJson("USER#"),
            ":metadata": $util.dynamodb.toDynamoDBJson("METADATA")
        }
    },
    "select": "ALL_ATTRIBUTES"
}