# Rust
target
**/*.rs.bk
dist

# WebAssembly
/frontend/pkg

# Terraform
/terraform/.terraform/
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
.terraform.lock.hcl

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Environment
.env
